.icon3d {
    font-size: 50px;
    color: #6ed0ff;
    text-shadow: 
        0 0 10px #008aff,
        0 0 20px #00aaff,
        0 0 40px #00cfff;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-8px); }
    100% { transform: translateY(0px); }
}

.spin {
    animation: spin 8s linear infinite, float 3s ease-in-out infinite;
}

@keyframes spin {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}
