.sport3d {
    width: 70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    animation: spin3d 6s linear infinite, float3d 3s ease-in-out infinite;
    filter: drop-shadow(0 0 12px #00c8ff);
}

@keyframes spin3d {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}

@keyframes float3d {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

.ball-football { background-image: url('/icons/football.svg'); }
.ball-basket  { background-image: url('/icons/basketball.svg'); }
.ball-hockey  { background-image: url('/icons/hockey.svg'); }
.ball-tennis  { background-image: url('/icons/tennis.svg'); }
